layout: hosting.twig
title: 台灣 SSD 虛擬主機方案
meta:
    desc: '台灣 SSD 虛擬主機方案'
og:
    image: https://cloud.githubusercontent.com/assets/1639206/6314475/7e726b24-ba1b-11e4-9b89-7a96863594ed.jpg
---
<style>
    .plans td {
        text-align: center;
    }
</style>

<div class="plan-description">
{% markdown %}
## 籌備中

天空之城目前專注於調教與維護現有的 [東京 SSD 主機](./jp-host.html) 方案，日後將會繼續推出更多不同地區的主機供您選擇。

感謝大家的支持。
{% endmarkdown %}
</div>
