{% extends '_global/html.twig' %}

{% block title %}{{ config.title }} | SkyCastle 天空之城虛擬主機{% endblock %}

{% block banner %}
    <div class="uk-container uk-container-center banner-inner-title">
        <h1>{{ config.title }}</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            {% block submenu %}{% endblock %}

            <div class="uk-width-medium-3-4 uk-container-center">

                <div class="uk-alert uk-alert-warning">
                    <p>
                        各位天空之城的使用者請注意，天空之城的 JPFREE，與過期後的 JP250 至 650 等方案將於 2016/05/15 結束服務，並停止申請新帳號，我們將保留資料到 5/30，請大家盡快進行資料轉移。
                    </p>
                    <p>
                        若網站無法連線，可開啟客服聯絡單，我們將開放此帳號 24 小時時間備份與遷移。
                    </p>
                </div>

                <article class="article-content">
                    {{ content|raw }}
                    {% block article_footer %}{% endblock %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
